<body>
    <div>
    <app-slidebar></app-slidebar>
    </div>
<div class="content-container">
  
    <div class="container-fluid">
            <!-- Main component for a primary marketing message or call to action -->
            <app-navigation></app-navigation>
  
    </div>
  </div>

     <div class="box">
        <h1>Buscar Solución</h1>
        <form >
            <div class="item" style="transform: translate(10em, 0px);">
                <input type="text" class="searchInput" placeholder="Search" 
                  [(ngModel)]="searchInput" name="search" >
              
                <button class="searchBtn" (click)="getValue(searchInput)"><i class="search icon"></i></button>
              </div>
        </form>
    </div> 
    <div class="box">

      
    </div>



</body>