

<body>


     <div class="box">
        <h1>¿Cómo puedo ayudarte?</h1>
        <br>

        <form >
            <div class="item" style="transform: translate(0em, 0px);">
                <input type="text" class="searchInput" placeholder="" 
                  [(ngModel)]="searchInput" name="search" >
              
                <button class="searchBtn" (click)="getValue(searchInput)">Buscar</button>
              </div>
        </form>
    </div> 
    <div class="box">

      
    </div>



</body>